<% include partials/head %>
<%- include('partials/header', {path: 'challenge', ordreChallenge: ordreChallenge, connected: 'ok'}) %>

<body>
    <div class="container">
        <br>
        <h3>Description</h3>
        <p> Ceci est la description du challenge <%= ordreChallenge %></p>
        <a class="btn btn-secondary" target="_blank" href="http://<%= host %>/<%= idChallenge %>" role="button">Démarrer le challenge</a>

        <br><br><br>

        <h3>Validation</h3>
        <div class="form-group">
            <label for="flagInput">Entrez le flag de validation</label>
            <input type="text" class="form-control" name="flagInput" id="flagInput" placeholder="flag">
        </div>
        <button type="button" id="flagSubmit" class="btn btn-secondary">Envoyer</button>

        <br><br>
        <div class="alert alert-success" role="alert" id="goodFlag" style="display: none;">
            Bravo vous avez trouvé le flag !
        </div>
        <div class="alert alert-danger" role="alert" id="wrongFlag" style="display: none;">
            Ce n'est pas le bon flag, accrochez-vous !
        </div>
        <div class="alert alert-danger" role="alert" id="emptyFlag" style="display: none;">
            Veuillez renseigner un flag !
        </div>

        <br>
        <h3>Solution</h3>
        <p> Voir la solution du challenge <%= ordreChallenge %></p>
        <button class="btn btn-secondary" id="voirSolution" role="button">Voir la solution</button>

        <br>
        <br>

        <!-- Alerte JS -->
        <div id="pasDroitAcces" style="display: none">
            <div class="alert alert-danger" role="alert">
                Il faut d'abord valider le challenge pour avoir accès à la solution !
            </div>
        </div>


        <div style="display: none;" id="divSolution">
            <p id="solutionText"></p>
        </div>


        <p style="display: none;" id="pId" ><%= idChallenge %></p>
        <script src="/js/challenge.js"></script>

    </div>
</body>
<% include partials/footer %>