<% include partials/head %>
<%- include('partials/header', {path: 'cours', idUnite: idUnite, nomUnite: nomUnite, ordreUnite: ordreUnite, nomCours: nomCours, connected: 'ok'}) %>
<body>
    <br>
    <div class="container">
        <%- precedent, suivant %>
        <br><br>
        <p><%- texte %></p>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <%- precedent %>
            </div>
            <div class="col-sm-4 text-center">
                <%- lu %>
            </div>
            <div class="col-sm-4">
                <%- suivant %>
            </div>
        </div>
    </div>
</body>
<% include partials/footer %>