<% include partials/head %>
<% include partials/headerAdmin %>

<body>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <% if (typeof nom == "undefined") { %>
            <h5 class="border-bottom border-gray pb-2 mb-0">Ajouter un challenge</h5>
            <%}
            else { %>
            <h5 class="border-bottom border-gray pb-2 mb-0">Modifier un challenge</h5>
            <%}%>

            <br>
        </div>
    </div>
    <form method="post">
        <div class="row justify-content-center">
            <div class="form-group col-sm-8">
                <input type="text" class="form-control" id="titleInput" name="titleInput" placeholder="Nom du challenge"
                        <% if (typeof nom != "undefined") { %>
                       value="<%= nom %>"
                        <%}%>>
            </div>
        </div>
        <% if (numberOfChallenges > 0) {%>
        <div class="row justify-content-center">
            <div class="form-group col-sm-8">
                <select class="custom-select mr-sm-2" id="ordreInput" name="ordreInput">
                    <% if (typeof ordre == "undefined") { %>
                    <option value="default" selected>Choisissez l'ordre...</option>
                    <%}%>

                    <% for (var i = 0; i <= numberOfChallenges; i++) {%>
                    <option value="<%= i+1 %>"
                            <% if (typeof ordre != "undefined" && ordre == (i+1)) {%>
                            selected
                            <%}%>
                    ><%= i+1 %></option>
                    <%}%>
                </select>
            </div>
        </div>
        <%}%>
        <div class="row justify-content-center">
            <div class="form-group col-sm-8">
                <select class="custom-select mr-sm-2" id="difficulteInput" name="difficulteInput">
                    <option value="0" <% if (typeof difficulte != "undefined") { if (difficulte == 0) {%>
                            selected
                            <%}}%>>Facile</option>
                    <option value="1" <% if (typeof difficulte != "undefined") { if (difficulte == 1) {%>
                            selected
                            <%}}%>>Moyen</option>
                    <option value="2" <% if (typeof difficulte != "undefined") { if (difficulte == 2) {%>
                            selected
                            <%}}%>>Difficile</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="form-group col-sm-8">
                <input type="text" class="form-control" id="flagInput" name="flagInput" placeholder="Flag du challenge"
                        <% if (typeof flagChallenge != "undefined") { %>
                       value="<%= flagChallenge %>"
                        <%}%>>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-sm-8">
                <input type="text" class="form-control" id="indiceInput" name="indiceInput" placeholder="Indice du challenge"
                        <% if (typeof indice != "undefined") { %>
                       value="<%= indice %>"
                        <%}%>>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-sm-8">
                <textarea style="height: 120px;" class="form-control" id="solutionInput" name="solutionInput" placeholder="Solution du challenge"><% if (typeof solution != "undefined") { %><%= solution %><%}%></textarea>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="form-group col-sm-8">
                <textarea style="height: 120px;" class="form-control" id="descriptionInput" name="descriptionInput" placeholder="Description du challenge"><% if (typeof description != "undefined") { %><%= description %><%}%></textarea>
            </div>
        </div>


        <!-- Alerte JS -->
        <div class="row justify-content-center" id="error" style="display: none">
            <div class="col-sm-8">
                <div class="alert alert-danger" role="alert">
                    <p style="margin-bottom: 0px;" id="pError"></p>
                </div>
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <a role="button" href="/admin/challenges/" class="btn btn-danger" style="margin-right:10px;">Annuler</a>
            <% if (typeof nom == "undefined") { %>
            <button class="btn btn-info" type="submit" id="ajouterChallenge">Ajouter</button>
            <%}
            else {%>
            <button class="btn btn-info" type="submit" id="modifierChallenge">Sauvegarder</button>
            <%}%>
        </div>
        <br>
    </form>
</div>
<script src="/js/formChallenge.js"></script>
</body>

<% include partials/footer %>