<% include partials/head %>
<%- include('partials/header', {path: 'unite', unite: ordreUnite, connected: 'ok'}) %>

    <div class="container">
        <br>
        <br>
        <%  for (var i = 0; i < data.length; i++) { %>
            <p><a href="/unites/<%= idUnite %>/<%= data[i].id %>"><%= ordreUnite %>. Sous-partie <%= i+1%></a></p>
        <% } %>
        <br>
    </div>

<% include partials/footer %>