<% include partials/head %>
<%- include('partials/header', {path: 'profil', connected: 'ok'}) %>
<body>
    <br><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h5 class="border-bottom border-gray pb-2 mb-0">Mes informations</h5>
                <br>
                <label for="email">Adresse email :</label>
                <p><%= email %></p>
                <br>
                <label for="email">Identifiant :</label>
                <p><%= identifiant %></p>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h5 class="border-bottom border-gray pb-2 mb-0">Mon avancement</h5>
                <br>
                <label>Cours</label>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= pourcentCoursLus%>%" aria-valuenow="<%= pourcentCoursLus%>" aria-valuemin="0" aria-valuemax="100"><%= pourcentCoursLus%>%</div>
                </div>
                <br>
                <label>Challenges</label>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: <%= pourcentChallengesReussis%>%" aria-valuenow="<%= pourcentChallengesReussis%>" aria-valuemin="0" aria-valuemax="100"><%= pourcentChallengesReussis%>%</div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h5 class="border-bottom border-gray pb-2 mb-0">Mon certificat</h5>
                <br>
                <% if (booleanCertificate) {%>
                <div class="alert alert-success" role="alert">
                    Vous avez obtenu le certificat de réussite à la formation sur la sécurité web, félicitations !
                </div>
                <%}
                else {%>
                <div class="alert alert-warning" role="alert">
                    Il faut lire tous les cours et valider les challenges pour obtenir le certificat de réussite à la formation sur la sécurité web.
                </div>
                <%}%>
            </div>
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h5 class="border-bottom border-gray pb-2 mb-0">Contacter l'administrateur de la plateforme</h5>
                <br>
                <p>Si vous souhaitez contacter l'administrateur de la plateforme, n'hésitez pas ! Vérifiez cependant que votre question ne figure pas dans la F.A.Q !</p>
                <a class="btn btn-secondary" href="mailto:nicolas.riffard@lab-solutec.fr">Contacter</a>
            </div>
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h5 class="border-bottom border-gray pb-2 mb-0">Changer mon mot de passe</h5>
            </div>
        </div>
        <br>
        <form method="post">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="ancienMDP" name="ancienMDP" placeholder="Ancien mot de passe">
                    <br>
                    <input type="password" class="form-control" id="nouveauMDP" name="nouveauMDP" placeholder="Nouveau mot de passe">
                    <br>
                    <input type="password" class="form-control" id="confirmationNouveauMDP" placeholder="Confirmation nouveau mot de passe">
                    <br>
                </div>
            </div>

            <!-- Alerte JS -->
            <div class="row justify-content-center" id="champManquant" style="display: none">
                <div class="col-sm-6">
                    <div class="alert alert-danger" role="alert">
                        Veuillez renseigner tous les champs !
                    </div>
                </div>
            </div>

            <!-- Alerte JS -->
            <div class="row justify-content-center" id="champNonCorrespondant" style="display: none">
                <div class="col-sm-6">
                    <div class="alert alert-danger" role="alert">
                        Les mots de passe ne correspondent pas !
                    </div>
                </div>
            </div>


            <!-- Alerte serveur -->
            <% if (typeof erreur != "undefined") {%>
            <div class="row justify-content-center" id="erreurServeur">
                <div class="col-sm-6">
                    <div class="alert alert-danger" role="alert">
                        <%= erreur %>
                    </div>
                </div>
            </div>
            <% } %>

            <!-- Success serveur -->
            <% if (typeof message != "undefined") { %>
            <div class="row justify-content-center" id="erreurServeur">
                <div class="col-sm-6">
                    <div class="alert alert-success" role="alert" id="alertSuccess">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <%= message %>
                    </div>
                </div>
            </div>
            <% } %>

            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-dark" id="envoiNouveauMDP">Confirmer</button>
                 </div>
            </div>
        </form>
    </div>
    <script src="/js/profil.js"></script>
</body>
<% include partials/footer %>